language: ruby
rvm:
  - 2.2.3

before_script:
  - gem install bundler
  - bundle install

script:
  - mv ${TRAVIS_BUILD_DIR}/_plugins/jekyll-press.rb-disabled ${TRAVIS_BUILD_DIR}/_plugins/jekyll-press.rb
  - bundle exec jekyll build --profile --trace --no-watch
  - bundle exec htmlproofer ${TRAVIS_BUILD_DIR}/_site --only-4xx --allow-hash-href --check-favicon --check-html --url-swap ".*marlinfw.org/:/"
  - bundle exec github-pages health-check

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false

cache: bundler
