{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
{% assign previous="" %}

 {% if num_parts == "0" or num_parts == "-1" %}
  <li>
    <a href="{{root_url}}/index.html">Home</a>
  </li>
 {% else %}
  <li>
    <a href="{{root_url}}/index.html">Home</a>
    <span class="divider">/</span>
  </li>

  {% for unused in site.data.breadcrumbs.breadcrumb_list limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:" …" | remove:"…"}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <li>
     <a href="{{previous}}">{{ first_word }}</a> <span class="divider">/</span>
   </li>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</ul>