
    <!-- footer -->
    <div class="container">
      <hr>
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top" data-proofer-ignore>Back to top</a></li>
              <li>Built with&nbsp;<i class="glyphicon glyphicon-heart"></i>.
              <li>The contents of this website are &copy; {{ site.time | date: '%Y' }} under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> License.</li>
            </ul>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </footer>
    </div><!-- /.container -->
    <!-- /footer -->
