
    <!-- footer -->
    <div class="container-fluid">
      <footer>
        <div class="row">
          <div class="{% if page.layout == 'articles' %}col-md-9 col-md-offset-3{% else %}col-md-12{% endif %}">
            <hr>
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top" data-proofer-ignore>Back to top <i class="fa fa-level-up" aria-hidden="true"></i></a></li>
              <li>Brought to you with <i class="fa fa-heart text-danger" aria-hidden="true"></i> lack of
                <i class="fa fa-bed" aria-hidden="true"></i> and lots of
                <i class="fa fa-coffee" aria-hidden="true"></i>.
              <li>The contents of this website are &copy; {{ site.time | date: '%Y' }} under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> License.</li>
            </ul>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </footer>
    </div><!-- /.container -->
    <!-- /footer -->
