<div class="row">
  <div class="col-lg-12">
    <h1 class="custom-no-margin-bottom">
      {% for code in gcode.codes %}
        {{ code }}{% if forloop.last != true %}, {% endif %}
      {% endfor %} - {{ gcode.title }}
    </h1>
    <p>
      {% if gcode.experimental %}
        <span class="label label-warning"><span data-toggle="tooltip" data-placement="bottom" title="Experimental feature"><i class="fa fa-flask" aria-hidden="true"></i></span></span>
      {% endif %}

      {% if gcode.since %}
        <span class="label label-success"><span data-toggle="tooltip" data-placement="bottom" title="Available since"><i class="fa fa-code" aria-hidden="true"></i>
        {{ gcode.since }}</span></span>
      {% endif %}

      {% if gcode.group %}
        <span class="label label-default"><i class="fa fa-tags" aria-hidden="true"></i>
        {{ gcode.group }}</span>
      {% endif %}

      {% if gcode.brief %}
        <span class="label label-primary"><i class="fa fa-pencil-square" aria-hidden="true"></i> {{gcode.brief}}</span>
      {% endif %}
    </p>
  </div>
</div>

{% if gcode.long %}
  <div class="row">
    <div class="col-lg-12">
      <p>
      {% for line in gcode.long %}
        {{ line | markdownify }}
        {% if forloop.last != true %}<br /> {% endif %}
      {% endfor %}
      </p>
    </div>
  </div>
{% endif %}

{% if gcode.parameters %}
  <div class="row">
    <div class="col-lg-12">
      <h2>Argument list</h2>
      <div class="list-group">
        {% for parameter in gcode.parameters %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              {{ parameter.tag }}{% if parameter.type %}&lt;{{ parameter.type }}
                {% if parameter.unit %}in {{ parameter.unit }}{% endif %}&gt;{% endif %}
            </h4>
            <p class="list-group-item-text">
              {% if parameter.optional == true%}
                <span class="label label-default">Optional</span>
              {% else %}
                <span class="label label-primary">Mandatory</span>
              {% endif %}
              {{ parameter.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}

{% if gcode.notes %}
  <div class="row">
    <div class="col-lg-12">
      <ul>
        {% for line in gcode.notes %}
          <li>{{ line | markdownify }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if gcode.examples %}
  <div class="row">
    <div class="col-lg-12">
      <h2>Usage examples</h2>
      {% for example in gcode.examples %}
        {% if example.pre %}<p>{{ example.pre }}</p>{% endif %}
        {% highlight gcode %}{% for line in example.code %}{{ line }}
{% endfor %}{% endhighlight %}
        {% if example.post %}<p>{{ example.post }}</p>{% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}
