{% if gcode.experimental %}
  <span class="label label-warning"><span data-toggle="tooltip" data-placement="bottom" title="Experimental feature"><i class="fa fa-flask" aria-hidden="true"></i></span></span>
{% endif %}

{% if gcode.since %}
  <span class="label label-success"><span data-toggle="tooltip" data-placement="bottom" title="Available since"><i class="fa fa-code" aria-hidden="true"></i>
  {{ gcode.since }}</span></span>
{% endif %}

{% if gcode.group %}
  <span class="label label-default"><i class="fa fa-tags" aria-hidden="true"></i>
  {{ gcode.group }}</span>
{% endif %}

{% if gcode.requires %}
  {% assign list = (gcode.requires | split: ',') %}
  {% for item in list %}
    <span class="label label-requires">{{item}}</span>
  {% endfor %}
{% endif %}

<h2><a href="{{ gcode.url | prepend: site.baseurl }}">{{ gcode.codes | codes_desc }} - {{ gcode.title }}</a></h2>

{% if gcode.brief %}
  <p>{{gcode.brief}}</p>
{% endif %}
