    <!-- head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="icon" href="{{ site.github.url }}/{{ site.base.assets }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.github.url }}/{{ site.base.stylesheet }}/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- /head -->

    <script><!--
        /**
         * As Github pages do not support https for custom domains
         * this is the current best workaround for #18.
         */
        var domains  = ['www.marlinfw.org', 'marlinfw.org', 'localhot', '127.0.0.1' ];
        var pathname = location.pathname.replace(/^\/MarlinDocumentation/, '')
        if (domains.indexOf(window.location.hostname) == -1)
            window.top.location.href = 'http://www.marlinfw.org' + pathname;
    --></script>
