    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ site.github.url }}/{{ site.base.stylesheet }}/readable.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/{{ site.base.stylesheet }}/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.github.url }}/{{ site.base.stylesheet }}/syntax.css">
    <link rel="stylesheet" href="{{ site.github.url }}/{{ site.base.stylesheet }}/custom.css">
    <!-- /stylesheets>

    <!-- javascript -->
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/jquery-2.2.1.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/jquery-ui.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/bootstrap.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/holder.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/toc.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/custom.js"></script>
    <!-- /javascript -->
