    <!-- javascript -->
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/holder.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/toc.min.js"></script>
    <script src="{{ site.github.url }}/{{ site.base.javascript }}/custom.js"></script>
    <!-- /javascript -->
