    <!-- navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="{{ site.github.url }}/" class="navbar-brand"><img src="{{ site.github.url }}/{{ site.img_url }}/logo/marlin/text.png" alt="Marlin" height="40"></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="getting-started">Getting Started <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="getting-started">
                <li><a href="{{ site.github.url }}/{{ site.articles_url }}/marlin-overview.html">Introduction</a></li>
                <li class="divider"></li>
                <li><a href="#">How to get</a></li>
                <li><a href="#">How to build</a></li>
                <li><a href="#">How to install</a></li>
                <li class="divider"></li>
                <li><a href="{{ site.github.url }}/{{ site.articles_url }}/reporting-bugs.html">Reporting bugs</a></li>
              </ul>
            </li>
            <li>
              <a href="{{ site.github.url }}/{{ site.articles_url }}">Documentation</a>
            </li>
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="development">Development <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="development">
                <li><a href="{{ site.github.url }}/{{ site.articles_url }}/marlin-overview.html">Introduction</a></li>
                <li class="divider"></li>
                <li><a href="#">How to get</a></li>
                <li><a href="#">How to build</a></li>
                <li><a href="#">How to install</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/MarlinFirmware/Marlin" target="_blank">Fork me on Github !</a></li>
          </ul>

        </div>
      </div>
    </div>
    <!-- /navbar -->
