{% if conf.experimental %}
  <span class="label label-warning"><span data-toggle="tooltip" data-placement="bottom" title="Experimental feature"><i class="fa fa-flask" aria-hidden="true"></i></span></span>
{% endif %}

{% if conf.since %}
  <span class="label label-success"><span data-toggle="tooltip" data-placement="bottom" title="Available"><i class="fa fa-code" aria-hidden="true"></i>
  {{ conf.since }}{% if conf.until %}-{{ conf.until }}{% endif %}</span></span>
{% endif %}

{% if conf.tags and false %}
  <span class="conf-summ-tag label label-default"><i class="fa fa-tags" aria-hidden="true"></i>
  {{ conf.tags | join: ", " }}</span>
{% endif %}

{% if conf.requires %}
  {% assign list = (conf.requires | split: ',') %}
  {% for item in list %}
    <span class="label label-requires">{{item}}</span>
  {% endfor %}
{% endif %}

<h2><a href="{{ conf.url | prepend: site.baseurl }}">{% if conf.label %}{{ conf.label }}{% else %}{{ conf.name }}{% endif %}</a></h2>

{% if conf.brief %}
  <p>{{conf.brief}}</p>
{% endif %}

{% if conf.settings %}
  <div class="summ-opts">
  {% for opt in conf.settings %}
    <a class="opt" href="{{ conf.url | prepend: site.baseurl }}#{{opt.name}}">{{opt.name}}</a>
  {% endfor %}
  </div>
{% endif %}

