/**
 * vivus - js for animating SVGs
 */
#svg-precision, #svg-protection, #svg-globally {
  visibility: hidden;
  svg { max-height: 150px; }
}
/* animation element */
.animation-element {
  opacity: 0;
  position: relative;
  filter: blur(1em);
}

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}
.animation-element.slide-left.in-view, .animation-element.slide-up.in-view, .animation-element.fade-in.in-view  {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  filter: blur(0);
}
/* animation element sliding up */
.animation-element.slide-up {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(0px, 60px, 0px);
  -webkit-transform: translate3d(0px, 60px, 0px);
  -o-transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
  transform: translate3d(0px, 60px, 200px);
}
/* animation element fade in */
.animation-element.fade-in {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;;
}

//for debugging
// * {
//   border: 1px red solid;
// }

#mfw-logo {
  position: relative;
  // for transtion between logo on side and bg
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
}
.mfw-bg {
  position: absolute !important;
  right: 540px;
  top: 1em;
  opacity: 0.6;
  filter: blur(5px);
  transform: scale(1.5);
}
#svg-marlin-sun, #svg-marlin-tri, #svg-marlin-fishf, #svg-marlin-fishol, #svg-marlin-logo {
  position: absolute;
}
#svg-marlin-sun {
  animation: aniSun 1s ease-in;
}
#svg-marlin-tri {
  animation: aniTri 1s ease-in;
}
#svg-marlin-fishf {
  animation: aniFishf 1s ease-in;
}
#svg-marlin-fishol {
  animation: aniFishol 1s ease-in;
}
#svg-marlin-logo {
  animation: aniLogo 1s ease-in;
}
@keyframes aniSun {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  66% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes aniTri {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  33% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes aniFishf {
  0% {
    opacity: 0;
    transform: translate(-30px, 30px)
  }
  66% {
    opacity: 0;
    transform: translate(-30px, 30px)
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes aniFishol {
  0% {
    opacity: 0;
    transform: translate(30px, -30px)
  }
  66% {
    opacity: 0;
    transform: translate(30px, -30px)
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}
@keyframes aniLogo {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  80% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*
 * Custom expanding buttons
 */
.custom-btn {
  display: block;
  position: fixed;
  right: -.75em; top: 4em;
  z-index: 100;
  height: 160px;
}
.btn.e-btn {
  color: white;
  padding-left: 10px; padding-right: 20px;
  margin-bottom: 10px;
  position: relative;
  float: right;
  max-width: 40px;
  -webkit-transition: max-width 0.3s ease-in-out;
  -moz-transition: max-width 0.3s ease-in-out;
  -o-transition: max-width 0.3s ease-in-out;
  transition: max-width 0.3s linear;
}
.e-btn:before {
  position: absolute;
  content: '';
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(45deg, #29556b, #888, #88B,#88B, #888, #29556b);
  background-size: 400%;
  transition: opacity .3s ease-in-out;
  animation: animate 20s linear infinite;
}
.e-btn-text {
  display: block;
  white-space: nowrap;
  color: white;
}
.e-btn:hover { max-width: 280px; }
.e-btn:hover:before { opacity: 1; }

@keyframes animate {
  0% { background-position: 0 0; } 50% { background-position: 400% 0; } 100% { background-position: 0 0; }
}

.btn:hover { color: white; }
.btn-follow, .btn-edit, .btn-download, .btn-contribute, .btn-learn, .panel-learn, .panel-discord, .panel-github {
  color: white;
  display: block;
  white-space: nowrap;
}
.btn-follow:hover, .btn-edit:hover, .btn-download:hover, .btn-contribute:hover, .btn-learn:hover {
  text-shadow: 1px 1px rgb(70, 70, 70);
}
.btn-follow.e-btn { background: rgb(0, 172, 237); }
