html, body { min-height: 100%; }

body {
  padding-top: 51px;
  padding-bottom: 10px;
  overflow-y: scroll;
}

p { /*text-align: justify;*/ }

/* The top navbar div with classes: navbar navbar-default navbar-fixed-top */
.navbar { font-weight: $navbar-font-weight; }

/* .navbar-nav may hook into bootstrap.js for dynamic navigation */
.nav.navbar-nav li a.here,
.nav.navbar-nav li.here > a {
  color: #FFF;
  background: #0088CC;
}
