h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  margin-top: 0.2em;
  }
h1+h2 { margin-top: -0.4em; color: #BBC; }

.custom-border-warning { border-left-color: #F0AD4E; }

.custom-no-margin { margin: 0 !important; }

.custom-no-padding { padding: 0 !important; }

.custom-pl10  { padding-left: 10px; }
.custom-pt5   { padding-top: 5px; }
.custom-pt25  { padding-top: 25px; }
.custom-ptb40 { padding: 40px 0px 40px 0px !important; }

.custom-bg-white { background-color: white; }
.custom-bg-red   { background-color: red; }
.custom-bg-grey  { background-color: #F5F5F5; }

.custom-alert { display: table; }

.custom-alert-icon {
  display: table-cell;
  vertical-align: middle;
  float: none;
  }
.custom-alert-text {
  display: table-cell;
  vertical-align: middle;
  float: none;
  > p { margin: 0; }
  }

.param-desc-list p { display: inline; }
td.arg code { white-space: nowrap; }

/*
 * Tagline
 */
.custom-tagline {
  text-align: left;
  padding-top: 1em;
  background-color: white;
  h1 { color: #00F; }
  }
.custom-tagline-btn { margin-top: 15px; }

#tagline { padding: 0; margin-top: 0; background: none; color: cadetblue; }

/*
 * Tiles
 */
.custom-tile {
  color: #94B6DF;
  padding-top: 1em;
  background-color: #F8F8F9;
  }

.custom-tile-image-wrapper {
  float: left;
  width: 100%;
  position: relative;
  border: 3px solid white;
  }

.custom-tile-image-block {
  margin: 0px;
  padding: 0px;
  height: 400px;
  }

.custom-tile-image-legend {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;

  font-family: $font-family-heading;
  font-size: 1.7em;

  color: white;
  background-color: rgba(3,3,3,0.5);
  padding-left: 10px;
  }

.custom-tile-image-block:hover > div { background-color: rgba(3,3,3,0.8); }

/*
 * Follow Button
 */
#navbar-main .twitter-follow-button { margin-top: 16px; }

/*
 * Scrolling code blocks
 */
div.language-cpp {
  overflow: scroll;
  pre.highlight { width: 1200px; }
  }

.tocify.gcode,
.custom-fixed-sidebar .tocify {
  font-size: 13px;
  cursor: pointer;
  li {
    line-height: 1em;
    margin: -1px 0 0;
    }
  }

img.floater {
  float: right;
  margin: 0 0 1em 1em;
  }
img.floater.framed { border: 4px solid black; }

.custom-article {
  padding-top: 0;
  margin-top: 0;

  table {
    margin-bottom: 1.1em;
    border-top: 1px solid #888;
  }

  th, td {
    padding: 2px 0.5em;
    border: 1px solid #888;
  }

  .table>thead>tr>th {
    background-color: #DDD;
    border-bottom: 1px solid #888;
  }
  .row { margin-bottom: 0.5em; }
  >p { margin-left: 1em; }
}

.post {
  margin: -1em 0 1em;
  background-color: #EEE;
  padding: 0.5em 0.5em 0.25em;
  p { font-size: 85%; }
  }

#gcode-header h1 { margin-bottom: 4px; }

.row.long>div, .row.usage>div, .row.params>div, .row.notes>div, .row.examples>div {
  margin-left: 1em;
  h3 { margin-left: -1em; }
  p { font-size: 120% }
}
.row.long>div, .row.notes>div { font-size: 110%; }
.row.examples pre { background: #E9F5FF; }

.params .table>tbody>tr:first-child>td { border-top: 0; }

body[role=document] {
  h2, h3, h4, h5, h6 {
    background: #EEE;
    background: linear-gradient(90deg, #E4E4E4FF, #E4E4E4FF, #EEEEEE00);
    padding: 4px; margin-top: 1em;
  }
}

.gcode-row { border-bottom: 2px solid #888; }
.gcode-row.odd {
  background: #F8F8FF;
  code, pre, .table>thead>tr>th { background-color: #E0E0F0; }
  .post { background-color: #EAEAFC; }
}

#lcd_menu-page .col-lg-9 {
  th { background-color: #DDD; }
  td {
    background-color: #0639FF;
    border-color: #000;
    color: #72D5FB;
    white-space: nowrap;
    font-family: $font-family-monospace;
    a { color: #C2F5FF; }
    code { background-color: #3669FF; color: #E2D5FB; }
    strong {
      display: inline-block;
      float: right;
      color: #72D5FB;
    }
  }
  td+td {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
    white-space: inherit;
    font-family: inherit;
    code { background-color: #F9F2F4; color: #C7254E; }
  }
}

#bitmap-converter {
  p { font-size: 120%; }
  label:hover { color: #090; }
  canvas {
    display: block;
    padding: 2px;
    margin-top: 5px;
  }
  #preview-lg {
    border: 1px solid gray;
    margin: 5px;
  }
  #preview-sm {
    border: 2px solid white;
    float: right;
  }
  input#pasted {
    margin: 0.5em 0.5em 0.5em 0;
    color: #BBF;
    font-family: $font-family-monospace;
  }
  textarea#output {
    width: 100%;
    border: 2px solid #077;
    border-radius: 8px;
    background: #F8FFFF;
    color: #300;
    font-family: $font-family-monospace;
    font-size: 90%;
    line-height: 1.1;
    resize: none;
    cursor: default;
  }
  div.file-selector {
    padding: 1em;
    margin: 1em 0;
    background: #EEE;

    // noselect
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
           -o-user-select: none; /* Opera */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
    .options {
      clear: both;
      background-color: white;
      border-radius: 1em;
      padding: 4px 0.5em 0;
      }
    label.tbd, label.tbd:hover { color: #FDD !important; }
  }
  #file-input { display: inline-block; }
  div#err-box {
    display: none;
    padding: 1em;
    font-size: 150%;
    font-weight: bold;
    color: red;
  }
  div#cpp-container,
  #stat-sub { display: none; }
}

//** Secondary label background color
$brand-requires: #380 !default;
$label-requires-bg: $brand-requires !default;
.label-requires { @include label-variant($label-requires-bg); }
.label-requires code {
  background: none !important;
  color: yellow;
}

//** A table to emulate a list
table.pretty-list {
  border: 0;
  th, td { border: 0; vertical-align: top; }
  td:first-child { text-align: right; }
  }
table.pretty-list.headless thead { display: none; }

.container.gcode div.tocify.gcode {
  position: fixed;
  height: 100vh;
  overflow: scroll;
  border-bottom: 2px solid #EEE;
  margin-top: -60px;
}

.tocify.gcode>ul { padding: 65px 0 1em; }
.nav-list > li > a strong { color: #900; }

div[role=main] { padding-bottom: 50vh; }

footer { clear: both; margin-top: 1em; }

// Keep footer from overlapping g-codes nav
@media (min-width: $screen-md-min) {
  .container.gcode+footer { float: right; width: 66%; }
}
@media (min-width: $screen-lg-min) {
  .container.gcode+footer .container { margin-left: 35%; width: 75%; }
}

.jumbotron {
  h1, p { text-align: center; }
  ul li { display: block; margin: 0.5em auto; width: 20em; }
  table { margin: 1em auto; }
  th, td { border-bottom: 1px solid black; padding: 1em; }
  th { background: #CCC; font-size: 110%; }
  th+th { border-left: 4px solid #EEE; }
  td+td { border-left: 4px solid #FFF; }
  em { display: block; font-size: x-small; text-align: right; }
  strong em { font-size: small; color: red; font-weight: bold; text-align: left; }
}

li#gcse {
  width: 250px;
  height: 50px;
  overflow: hidden;
}

iframe.youtube {
  border: 2px solid #444;
  margin: 0.5em auto;
}

@media (min-width: $screen-md-min) {
  .col-md-7 { width: 70%; }
  .col-md-5 { width: 30%; }
}

hr { margin-top: 0; margin-bottom: 0; }

summary h3 { display: inline; }
