.custom-border-warning { border-left-color: #f0ad4e; }

.custom-no-margin { margin: 0 !important; }
.custom-no-margin-bottom { margin-bottom: 0 !important; }

.custom-no-padding { padding: 0 !important; }

.custom-article {
  padding-top: 0;
  margin-top: 0;
  .row { margin-bottom: 1em; }
  }

.custom-pl10  { padding-left: 10px; }
.custom-pt5   { padding-top: 5px; }
.custom-pt25  { padding-top: 25px; }
.custom-ptb40 { padding: 40px 0px 40px 0px !important; }

.custom-bg-white { background-color: white; }
.custom-bg-red   { background-color: red; }
.custom-bg-grey  { background-color: #f5f5f5; }

.custom-alert { display: table; }

.custom-alert-icon {
  display: table-cell;
  vertical-align: middle;
  float: none;
  }
.custom-alert-text {
  display: table-cell;
  vertical-align: middle;
  float: none;
  }
.custom-alert-text > p { margin: 0; }

.param-desc-list p { display: inline; }
td.arg code { white-space: nowrap; }

/*
 * Tagline
 */
.custom-tagline {
  text-align: left;
  padding: 48px 0px 48px 0px;
  background-color: white;
  }
.custom-tagline-btn { margin-top: 15px; }


/*
 * Tiles
 */
.custom-tile {
  color: #94b6df;
  padding: 48px 0px 48px 0px;
  background-color: #f8f8f9;
  }

.custom-tile-image-wrapper {
  float: left;
  width: 100%;
  position: relative;
  border: 3px solid white;
  }

.custom-tile-image-block {
  margin: 0px;
  padding: 0px;
  height: 400px;
  }

.custom-tile-image-legend {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;

  font-size: 26px;

  color: white;
  background-color: rgba(3,3,3,0.5);
  padding-left: 10px;
  }

.custom-tile-image-block:hover > div { background-color: rgba(3,3,3,0.8); }

/*
 * Follow Button
 */
#navbar-main .twitter-follow-button { margin-top: 16px; }

/*
 * Scrolling code blocks
 */
div.language-cpp {
  overflow: scroll;
  pre.highlight { width: 1200px; }
  }

.tocify.gcode,
.custom-fixed-sidebar .tocify {
  font-size: 13px;
  cursor: pointer;
  li {
    line-height: 1em;
    margin: -1px 0 0;
    }
  }

img.floater {
  float: right;
  margin: 0 0 1em 1em;
  }
img.floater.framed { border: 4px solid black; }

.custom-article {
  table {
    margin-bottom: 1.1em;
    border-top: 1px solid #888;
    }

  th, td {
    padding: 2px 0.5em;
    border: 1px solid #888;
    }

  .table>thead>tr>th {
    background-color: #DDD;
    border-bottom: 1px solid #888;
    }
  }

.post {
  margin: -1em 0 1em;
  background-color: #EEE;
  padding: 0.5em 0.5em 0.25em;
  p { font-size: 85%; }
  }

.row.usage h2 { margin-top: -0.5em; }

.gcode-row { border-bottom: 2px solid #888; }
.gcode-row.odd {
  background: #F8F8FF;
  code, pre, .table>thead>tr>th {
    background-color: #E0E0F0;
  }
  .post {
    background-color: #EAEAFC;
  }
}

//** Secondary label background color
$brand-requires: #380 !default;
$label-requires-bg: $brand-requires !default;
.label-requires {
  @include label-variant($label-requires-bg);
}
.label-requires code {
  background: none !important;
  color: yellow;
}
