/* Needs height 100% as parent otherwise */
/* textarea will not scale to cell size */
.calibpat table {
  border-collapse: separate;
  border-spacing: 0px;
  border: thin solid #848484;
  height: 100%;
  width: 100%;
}

/* Needs height 100% as parent otherwise */
/* textarea will not scale to cell size */
.calibpat tr {
  height: 100%;
  border: thin solid #848484;
}

.calibpat td {
  height: 100%;
  padding: 4px;
  vertical-align: middle;
  border: thin solid #848484;
}

.calibpat .txtareatd {
  width: 34% !important;
  min-width: 34% !important;
  max-width: 34% !important;
}

.calibpat td:nth-child(1) {
  width: 14%;
}

.calibpat td:nth-child(2) {
  width: 7%;
  min-width: 7%;
  text-align: center;
}

.calibpat td:nth-child(3) {
  width: 45%;
  font-size: 80%;
}

.calibpat .tdHead {
   background-color: #EDEDED;
}

.calibpat .tdSection {
   background-color: #F5F5F5;
}

/* Scale textarea to cell size */
.calibpat textarea {
  font-family: monospace;
  font-size: 90%;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  resize: none;
}

/* Input and label styles */
.calibpat input[type=number]{
  width: 140px;
}

.calibpat select{
  width: 140px;
}

.calibpat2 td {
  height: 70px;
}

.calibpat label {
  color: #c7254e;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}

.calibpat_disabled {
  color: #c7254e;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
  opacity: 0.5;
}

.calibpat_invalidDiv {
  background-color: #FFFF00;
  font-weight: bold;
  display: block;
  float: left;
}

.calibpat_invalidSize {
  background-color: #FFFF00;
  font-weight: bold;
  display: block;
  float: left;
}

:invalid {
    box-shadow: 0 0 3px red;
    outline: 0;
}
