:root {
  --color-tool-header: #333;
  --color-tool-header2: black;

  --color-tool-bg: #222;
  --color-tool-border: #222;
  --color-tool-input: #001;
  --color-tool-label: #08C;
  --color-tool-last-label: #06A;
  --color-tool-textarea: #FFC;

  --color-tool-td-head-bg: #CCC;
  --color-tool-td-section-bg: #EEE;

  --color-tool-calibpat2-bg: #333;

  --color-tool-invalid-border: #FFD800;
  --color-tool-invalid-bg: yellow;
  --color-tool-disabled: #F00;

  --color-tool-button-bg: #BFA;

  --color-warning-text: #440;
  --color-warning-bg: #FF0;
}
[data-theme="dark"] {
  --color-tool-header: #CCC;
  --color-tool-header2: white;

  --color-tool-bg: #222;
  --color-tool-border: #222;
  --color-tool-input: #001;
  --color-tool-label: #C7254E;
  --color-tool-last-label: #E57;
  --color-tool-textarea: #300;

  --color-tool-td-head-bg: #222;
  --color-tool-td-section-bg: #333;

  --color-tool-invalid-border: #FFD800;
  --color-tool-invalid-bg: yellow;
  --color-tool-disabled: #F00;

  --color-warning-text: #FF0;
  --color-warning-bg: #330;
}
div#calibpat {
  #gcode-out { height: 100%; }
  img { width: 100%; }
  h1 { color: var(--color-tool-header); }
  h2, h3 { color: var(--color-tool-header); }
}
table#tool {
  border-collapse: separate;
  border-spacing: 0px;
  border: thin solid var(--color-tool-border);
  height: 100%;
  width: 100%;
  font-size: 110%;

  h1, h2, h3, h4, h5 { color: var(--color-tool-header); }

  tr {
    height: 100%;
    border: thin solid var(--color-tool-border);
  }
  th, td {
    padding: 8px;
    vertical-align: middle;
  }
  th {
    width: 20%;
    text-align: right;
  }
  td:nth-child(2) {
    width: 7%;
    min-width: 7%;
  }
  td:nth-child(3) {
    width: 39%;
    font-size: 80%;
  }
  td.options { text-align: center; }
  td.td-hidden { display: none; }

  tr.head td { background-color: var(--color-tool-td-head-bg); }
  td.section { background-color: var(--color-tool-td-section-bg); }

  td.td-output {
    width: 34% !important;
    min-width: 34% !important;
    max-width: 34% !important;
    padding: 0;
  }
  textarea {
    font-family: $font-family-monospace;
    font-size: 90%;
    border: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    resize: none;
    background: var(--color-tool-textarea);
  }

  input, select { color: #000; font-size: 120%; }
  input[type="number"] { width: 120px; }

  select {
    width: 140px;
    //color: var(--color-tool-header);
  }

  label {
    color: var(--color-tool-label);
    font-weight: bold;
    padding-top: 4px;
    text-transform: capitalize;
  }
  label:after {
    display: inline;
    content: ":";
  }

  .calibpat2 td, .calibpat2 th {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    vertical-align: middle;
    background-color: var(--color-tool-td-head-bg);
  }
  .calibpat2 td:nth-child(3) { font-size: inherit; }
  .calibpat2 label { color: var(--color-tool-last-label); }

  .disabled {
    color: var(--color-tool-disabled);
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
    opacity: 0.5;
  }

  .invalidDiv, .invalidSize, .invalidNumber { background-color: var(--color-tool-invalid-bg); }
  :invalid {
    box-shadow: 0 0 3px var(--color-tool-invalid-border);
    outline: 1px solid #FC0;
  }
}

input[type="button"].tool {
  background: var(--color-tool-button-bg);
  margin: 20px 0 0 0.5em;
}

#warnbox { display: none; }
p#warning1, p#warning2, p#warning3 {
  display: none;
  padding: 0.25em 0;
  text-align: center;
  color: var(--color-warning-text);
  background: var(--color-warning-bg);
}
