body {
  padding-top: 50px;
  padding-bottom: 20px;
}

p {
    text-align: justify;
}

.custom-top-offset {
	padding-top: 40px;
}

.custom-border-warning {
    border-left-color: #f0ad4e;
}

.custom-small-font {
  font-size: 90%;
}

.custom-list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

#toc {
  font-size: 90%;
  min-width: 300px;
  max-width: 300px;
  padding-left: 50px;
}

#toc .toc-h1 {
  padding-left: 1em;
  font-weight: bold;
}

#toc .toc-h2 {
  padding-left: 1.5em;
}

#toc .toc-h3 {
  padding-left: 2em;
}

nav[data-toggle='toc'] {
  margin-top: 30px;
}

/* small screens */
@media (max-width: 768px) {
  /* override the Affix plugin so that the navigation isn't sticky */
  nav.affix[data-toggle='toc'] {
    position: static;
  }

  /* PICK ONE */
  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle='toc'] .nav .active .nav {
    display: none;
  }
  /* alternatively, if you *do* want the second-level navigation to be shown (as seen on this page on mobile), use this */
  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}
