---
title:       Download
regenerate:  true
description: Download the latest Marlin source code
category:    [ default, noedit ]

header: |
  Previous releases can be downloaded directly from the [Marlin Github page](//github.com/MarlinFirmware/Marlin/releases).
  <br/>(For more about releases see [this page](/meta/releases).)

footer: |
  Also find on the project page...

  - Detailed [release notes](//github.com/MarlinFirmware/Marlin/releases),
  - Resources for [reporting issues](//github.com/MarlinFirmware/Marlin/issues), and
  - The tools needed to [join the project](//guides.github.com/activities/contributing-to-open-source/).

---

<!-- Jumbotron  -->
<div class="jumbotron custom-no-margin"><div class="container">
  <h1><i class="fa fa-download" aria-hidden="true"></i> Download <strong>Marlin</strong></h1>
  {{ page.header | markdownify }}

  {% assign head_text='Beta Release!' %}
  {% assign download_items=site.data.marlin.betas %}
  {% include download_table.html %}

  {% assign head_text='Latest Releases' %}
  {% assign download_items=site.data.marlin.downloads %}
  {% include download_table.html %}

  {% assign head_text='"Nightly" Source' %}
  {% assign download_items=site.data.marlin.nightlies %}
  {% include download_table.html %}

  {% assign head_text='Patched Source' %}
  {% assign download_items=site.data.marlin.patched %}
  {% include download_table.html %}

  {{ page.footer | markdownify }}
</div></div>
