---
title:       Download
regenerate: true
description: Download the latest Marlin source code
category:    [ default ]

header: |
        Previous releases can be downloaded directly from the [Marlin Github page](//github.com/MarlinFirmware/Marlin/releases).

footer: |
        Also find on the project page...

        - Detailed [release notes](//github.com/MarlinFirmware/Marlin/releases),
        - Resources for [reporting issues](//github.com/MarlinFirmware/Marlin/issues), and
        - The tools needed to [join the project](//guides.github.com/activities/contributing-to-open-source/).

---

<!-- Jumbotron  -->
<div class="jumbotron custom-no-margin"><div class="container">
  <h1><i class="fa fa-download" aria-hidden="true"></i> Download <strong>Marlin</strong></h1>
  {{ page.header | markdownify }}
  <table>
    <tr><th>Description</th><th>Version</th><th>Download</th><th>Configurations</th>
    {% for release in site.data.marlin.downloads %}
      <tr>
        <td>
          {% if release.extra %}<strong><em>{{ release.extra }}</em></strong><br/>{% endif %}
          <strong>{{ release.description }}</strong><br/>
          <em>{{ release.tools }}<em>
        </td>
        <td><a href="//github.com/MarlinFirmware/Marlin/tree/{{ release.version }}"><code>{{ release.version }}</code></a></td>
        <td><a href="//github.com/MarlinFirmware/Marlin/archive/{{ release.file }}">{{ release.file }}</a></td>
        <td>
          {% if release.config %}
            <a href="//github.com/MarlinFirmware/Configurations/tree/{{ release.config }}">View / Download</a>
          {% else %}
            (included)
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h2 class="ctr">Marlin "Nightly" Source</h2>
  <table>
    <tr><th>Description</th><th>Version</th><th>Download</th><th>Configurations</th>
    {% for nightly in site.data.marlin.nightlies %}
      <tr>
        <td>
          {% if nightly.extra %}<strong><em>{{ nightly.extra }}</em></strong><br/>{% endif %}
          <strong>{{ nightly.description }}</strong><br/>
          <em>{{ nightly.tools }}<em>
        </td>
        <td><code>{{ nightly.version }}</code></td>
        <td><a href="//github.com/MarlinFirmware/Marlin/archive/{{ nightly.file }}">{{ nightly.file }}</a></td>
        <td>
          {% if nightly.config %}
            <a href="//github.com/MarlinFirmware/Configurations/tree/{{ nightly.config }}">View / Download</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <h2 class="ctr">Marlin Patched Source</h2>
  <table>
    <tr><th>Description</th><th>Version</th><th>Download</th><th>Configurations</th>
    {% for nightly in site.data.marlin.patched %}
      <tr>
        <td>
          {% if nightly.extra %}<strong><em>{{ nightly.extra }}</em></strong><br/>{% endif %}
          <strong>{{ nightly.description }}</strong><br/>
          <em>{{ nightly.tools }}<em>
        </td>
        <td><code>{{ nightly.version }}</code></td>
        <td><a href="//github.com/MarlinFirmware/Marlin/archive/{{ nightly.file }}">{{ nightly.file }}</a></td>
        <td>
          {% if nightly.config %}
            <a href="//github.com/MarlinFirmware/Configurations/tree/{{ nightly.config }}">View / Download</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {{ page.footer | markdownify }}
</div></div>
