<!--
  Website version: {{ site.meta.version }}
-->
<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body role="document">

{% if page.navigation.show_navbar %}{% include navbar.html %}{% endif %}
      <div class="content">
        <div class="row">
          <div class="col-sm-3">
            <div id="toc"></div>
          </div>

          <div class="col-sm-9">
            <div class="page-header">
              <h1>{{ page.meta.title }}
                {% if page.meta.description and page.navigation.show_description %}<small>{{ page.meta.description }}</small>{% endif %}</h1>
            </div>
            <!-- content -->
{{ content }}
            <!-- /content -->
          </div>
        </div>
      </div>
{% if page.navigation.show_footer %}{% include footer.html %}{% endif %}
{% include javascript.html %}

  </body>
</html>
