---
layout: default
---
{% if page.toc.selectors %}<!-- toc hack -->
    <script language="javascript">
      toc_selectors = 'h1,h2';
    </script>
    <!-- /toc hack -->{% endif %}

    <div class="container" role="main">
      <div class="row">
        <div class="col-sm-9">
          <div class="page-header">
            <h1>{{ page.meta.title }}</h1>
          </div><!-- /.page-header -->
          <!-- content -->
{{ content }}
          <!-- /content -->
        </div><!-- /.col-sm-9 -->

        <div class="col-sm-3">
          <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
        </div><!-- /.col-sm-3 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
