---
layout: default
---
{% if page.toc.selectors %}<!-- toc hack -->
    <script language="javascript">
      toc_selectors = 'h1,h2';
    </script>
    <!-- /toc hack -->{% endif %}

    <div class="container-fluid" role="main">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="toc">

        </div><!-- /.col-sm-3 -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="page-header">
            <div class="page-author pull-right">by
              {% assign authors = page.author | append: ',' | append: page.contrib | replace: ' ', '' | split: ',' %}
              {% if authors %}
                {% for author in authors %}
                  <a href="https://github.com/{{ author }}" data-toggle="tooltip" data-placement="bottom" title="Visit {{ author }}'s on Github">
                  @{{ author }}</a>
                {% endfor %}
              {% endif %}
            </div>
            <h1>{{ page.title }}</h1>
          </div><!-- /.page-header -->

          <!-- content -->
          {% if page.navigation.show_breadcrumbs %}
            {% include breadcrumbs.html %}
          {% endif %}

          {{ content }}
          <!-- /content -->
        </div><!-- /.col-sm-9 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
