---
layout: default
---
{% if page.type %}
  {% assign type = page.type %}
{% else %}
  {% assign crumbs = page.url | split: '/' %}
  {% assign index = crumbs.size | minus: 2 %}
  {% assign type = crumbs[index] | replace: '.html','' %}
{% endif %}

    <div class="container" role="main">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ type | replace:'-',' ' | capitalize }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
{% assign count  = 0 %}
{% assign sorted = site.articles | concat: site.pages | sort: 'title' %}
{% for p in sorted %}
  {% if p.hidden != true %}
    {% for pc in p.category %}
      {% if pc == type %}
      {% assign count = count | plus: 1 %}
          <a href="{{ site.github.url }}{{ p.url }}" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-book" aria-hidden="true"></i>
              {{ p.title }}</h4>
            {% if p.description %}<p class="list-group-item-text">{{ p.description }}</p>{% endif %}
          </a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if count == 0 %}
          <p>This category contains no items.</p>
{% endif %}
          </div>
        </div>
      </div>
    </div>
