{% include license.html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/stylesheets/main.css' | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{ '/assets/javascript/head.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript">
      /**
       * As Github pages do not support https for custom domains
       * this is the current best workaround for #18.
       */
      var domains  = ['www.marlinfw.org', 'marlinfw.org', 'localhost', '127.0.0.1' ];
      var pathname = location.pathname.replace(/^\/MarlinDocumentation/, '')
      if (domains.indexOf(window.location.hostname) == -1)
          window.top.location.href = 'http://www.marlinfw.org' + pathname;

      /**
       * Improves overall speed by loading javascript and css resources in parallel
       * with the main page.
       */
      head.load(
          "{{ '/assets/stylesheets/font-awesome.min.css' | prepend: site.baseurl }}",

          "{{ '/assets/javascript/jquery-2.2.1.min.js' | prepend: site.baseurl }}",
          "{{ '/assets/javascript/jquery-ui.min.js' | prepend: site.baseurl }}",
          "{{ '/assets/javascript/bootstrap.min.js' | prepend: site.baseurl }}",
          "{{ '/assets/javascript/tocify.min.js' | prepend: site.baseurl }}",
          "{{ '/assets/javascript/custom.js' | prepend: site.baseurl }}",

          "{{ '/assets/javascript/sheetrock.min.js' | prepend: site.baseurl }}",
          "{{ '/assets/javascript/cookieconsent.min.js' | prepend: site.baseurl }}"
      );

      head.ready(function() {
        window.cookieconsent_options = {
          "message":"We uses cookies to ensure you get the best experience on our website",
          "dismiss": "Got it!", "learnMore": "More info", "link":"", "theme": "dark-bottom"
        };
      });
    </script>
    <!-- /head -->
  </head>
  <body role="document">
{% if page.show.navbar %}{% include navbar.html %}{% endif %}

{% if page.show.breadcrumbs %}
    <!-- breadcrumbs -->
    <nav>
      <div class="container custom-no-padding">
        <div class="row">
          <div class="col-lg-12 visible-lg-block visible-md-block custom-no-margin">
            <ol class="breadcrumb custom-no-margin">
              <li>
                <a href="{{ '/' | prepend: site.baseurl }}">
                <i class="glyphicon glyphicon-home"></i></a> </li>
{% assign crumbs = page.url | replace: '.html','' | split: '/' %}
{% for crumb in crumbs offset: 1 %}
  {% assign next = forloop.index  | plus: 1 %}
  {% if forloop.last %}
    {% if page.title %}
                <li class="active">{{ page.title }}</li>
    {% endif %}
  {% else %}
    {% if crumbs[next] == 'index' %}
                <li class="active">{{ crumb | replace:'-',' ' | capitalize }}</li>
    {% else %}
                <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | capitalize }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </nav>
    <!-- /breadcrumbs -->
{% endif %}

    {{ content }}

{% if page.show.footer %}
    <!-- footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <p>Brought to you with <i class="fa fa-heart text-danger" aria-hidden="true"></i> lack of
              <i class="fa fa-bed" aria-hidden="true"></i> and lots of
              <i class="fa fa-coffee" aria-hidden="true"></i>. <br />
              The contents of this website are &copy; {{ site.time | date: '%Y' }} under the terms of the <a href="http://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a> License.</p>
          </div>
          <div class="col-lg-4">
            <div class="pull-right">
              <a href="#top" data-proofer-ignore>
              Back to top <i class="fa fa-level-up" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /footer -->
{% endif %}
{% if site.analytics.id %}
    <!-- analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.analytics.id }}', {
          'cookieDomain': '{{ site.analytics.domain }}',
          'siteSpeedSampleRate': 80
      });

      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <!-- /analytics -->
{% endif %}
  </body>
</html>
