<!--
  Website version: {{ site.meta.version }}
  Website author: {{ site.meta.author }} <{{ site.meta.feedback_email }}>
-->
<!DOCTYPE html>
<html lang="en">
  <head>
{% include head.html %}
  </head>
  <body role="document" data-spy="scroll" data-target="#toc">
{% if page.navigation.show_navbar %}{% include navbar.html %}{% endif %}
      <!-- content -->
{{ content }}
      <!-- /content -->
{% if page.navigation.show_footer %}{% include footer.html %}{% endif %}
{% include javascript.html %}
  </body>
</html>
