---
layout: default
---

<!-- content -->
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-3 col-md-4 visible-lg-block visible-md-block custom-no-padding">
      <div class="custom-fixed-sidebar">
        placeholder
      </div>
    </div>
    <div class="col-lg-9 col-md-8 custom-bg-white">
      <div class="row">
        <div class="col-md-12 custom-article">
            {% if page.collection == 'gcode' %}
                {% assign gcode = page %}
                {% include gcode-info.html %}
            {% else %}
                {% for gcode in site.gcode %}
                    {% assign gcode = site.gcode %}
                    {% include gcode-info.html %}
                    <hr />
                {% endfor %}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->
