---
layout: default
---

<!-- content -->
<div class="container detail" role="main">
  <div class="row">
    <div class="col-lg-3 col-md-4 visible-lg-block visible-md-block custom-no-padding">
      <div>
        {%- assign list = '' | split: '|' %}
        {%- for conf in site.setting %}
          {%- assign list = list | push: conf %}
        {%- endfor %}

        {%- if list.size > 0 -%}
          <div class="tocify bigtoc">
            <ul class="tocify-header nav nav-list">
              {%- assign list = list | sort: 'tag' %}
              {%- for conf in list %}
                <li class="tocify-item{% if page.codes[0] == conf.codes[0] and page.title == conf.title %} active{% endif %}"><a href="{{ conf.url | prepend: site.baseurl }}">{% if conf.label %}{{ conf.label }}{% else %}<strong>{{ conf.name }}</strong>{% endif %}</a></li>
              {% endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="col-lg-9 col-md-8 main">
      {%- if page.collection == 'setting' %}
        {%- assign conf = page %}
        {%- include setting-info.html %}
      {%- else %}
        <h1>Marlin Settings</h1>
        {%- for conf in site.setting %}
          {%- assign odd = forloop.index | modulo: 2 %}
          <div class="settings item{% if odd == 0 %} odd{% endif %}">{% include setting-summ.html %}</div>
        {% endfor -%}
      {% endif -%}
    </div>
  </div>
</div>
<!-- /content -->
