---
layout: default
---

{%- assign list = '' | split: '|' %}
{%- for conf in site.setting %}
  {%- if conf.tags contains 'draft' %}{% else %}
    {%- assign list = list | push: conf %}
  {%- endif %}
{%- endfor %}

<!-- content -->
<div class="container detail" role="main">
  <div class="row">
    <div class="col-lg-3 col-md-4 visible-lg-block visible-md-block custom-no-padding">
      <div>
        {%- if list.size > 0 -%}
          <div class="tocify bigtoc">
            <ul class="tocify-header nav nav-list">
              {%- assign list = list | sort: 'tag' %}
              {%- for conf in list %}
                <li class="tocify-item"><a href="{{ conf.url | prepend: site.baseurl }}">{% if conf.label %}{{ conf.label }}{% else %}<strong>{{ conf.name }}</strong>{% endif %}</a></li>
              {% endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    {%- if list.size > 0 -%}
    <div class="col-lg-9 col-md-8 main">
      <h1>Marlin Settings</h1>
      {%- for conf in list %}
        {%- assign odd = forloop.index | modulo: 2 %}
        <div class="settings item{% if odd == 0 %} odd{% endif %}">{% include setting-summ.html %}</div>
      {% endfor -%}
    </div>
    {% endif -%}
  </div>
</div>
<!-- /content -->
